#cartContainer *,
#questions *,
#qline *{
    margin: 0%;
    padding: 0%;
}
p{
    font-size: 17px;
}

.navBar {
    background-color: rgb(8, 7, 7);
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding-top: 10px;
    position: sticky;
    top: 0;
}

.navBar>div{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}


.navBar>div>div:nth-child(1) {
    width:5%;
    padding-left:10px;
}
.navBar>div>div:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navBar>div>div:nth-child(3) {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(201, 201, 201);
}
a:hover {
    cursor: pointer;
    color: rgb(250, 250, 248);
}
/* Nav Bar Ends */
#main{
    width: 900px;
    margin: auto;
}
#checkDiv{
    width: 100%;
    margin: auto;
    margin-top: 50px;
}
#checkDivProductH1{
    text-align: center;
    font-size: 35px;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* Button */
#checkout{
    border: none;
    border-radius: 5px;
    background-color: #0071e3;
    color: white;    
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 17px;
    width: 290px;
    height: 36px;
    display: block;
    margin: auto;
}

#checkout:hover{
    cursor: pointer;
    background-color: #007bf5;
}

#checkDivEmptyProductH1{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 2px;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#checkDivEmptyProductP{
    font-size: 17px;
}

#checkDivEmptyProductButtons{
    display: flex;
    width: 600px;
}

#checkDivEmptyProductButtons > button:nth-child(1){
    border: none;
    border-radius: 10px;
    background-color: #0071e3;
    color: white;    
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 17px;
    width: 290px;
    display: block;
    margin: auto;
    padding: 15px 31px;
}

#checkDivEmptyProductButtons > button:nth-child(1):hover{
    cursor: pointer;
    background-color: #007bf5;
}

#checkDivEmptyProductButtons > button:nth-child(2){
    border: none;
    border-radius: 10px;
    background-color: #00000014;
    color: black;    
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 17px;
    width: 290px;
    display: block;
    margin: auto;
    padding: 15px 31px;
}

#checkDivEmptyProductButtons > button:nth-child(2):hover{
    cursor: pointer;
    background-color: #2c2c2c2d;
}

#hr1{
    width: 100%;
    margin: 50px 0px;
}

#cartContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#product{
    width: 100%;
    display: flex;
}

#product img{
    display:block;
    width: 200px;
}

#cartContainerEnd{
    width: 100%;
    display: flex;
    gap: 45px;
}

#cartContainerEndEmptyDiv{
    width: 200px;
}

#productOuterDiv,
#cartContainerEndDiv{
    width: 100%;
}

#cartContainerEndDiv > div{
    display: flex;
    justify-content: space-between;
}

#cartContainerEndDiv > div > h3{
    font-size: 24px;
    font-weight: 600;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
#cartContainerEndDiv > div > p,
#cartContainerEndDiv > div > h3{
    margin-top: 10px;
    margin-bottom: 5px;
}

#hr2{
    width: 100%;
}



#productOuterDiv >div{
    padding-bottom: 10px;
}



#productDiv{
    width: 100%;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 20px;
    overflow-wrap: break-word;
    display: flex;
    justify-content: space-between;
}

#title{
    width: 300px;
}

.itemCount{
    border: none;
    height: 20px;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 20px;
}

#emiDiv{
    display: flex;
    justify-content: space-between;
}

#priceremove{
    display: flex;
    gap: 10px;
    justify-content: right;
}

#priceremove p{
    align-self: flex-end;
    color: #0071e3;
    font-size: medium;
    font-weight: 400;
}

#priceremove p:hover{
    cursor: pointer;
    text-decoration: underline;
}

#lastcheckoutButton{
    display: flex;
    justify-content: flex-end;
}

#lastcheckoutButton > button{
    margin-top: 35px;
    border: none;
    border-radius: 10px;
    background-color: #0071e3;
    color: white;    
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 17px;
    width: 330px;
    padding: 13px 31px;
    display: block;
}

#lastcheckoutButton > button:hover{
    cursor: pointer;
    background-color: #007bf5;
}

#hrhelp1{
    margin-top: 75px;
}

#hrhelp2{
    margin-bottom: 75px;
}

#newArrivals{
    width: 900px;
    height: 400px;
    margin: auto;
    background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/apple-new-arrivals-checkout-201804?wid=980&hei=400&fmt=jpeg&qlt=95&.v=1523551959954");
}

#newArrivals > div{
    width: 50%;
    padding: 125px 0%;
}

#newArrivals h2{
    font-size: 30px;
    font-weight: 600;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
}

#newArrivals p{
    text-align: center;
    font-size: 20px;
}

#newArrivals a{
    display: block;
    text-align: center;
    color: #0071e3;
}

#newArrivals a:hover{
    text-decoration: underline;
}

#lasthr{
    margin: 50px 0px;
}

#questions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#questions h2{
    font-size: 32px;
    font-weight: 600;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#Qlogo{
    display: block;
    height: 25px;
}

#closelogo{
    display: none;
    height: 21px;
}

#qnaDiv{
    width: 100%;
    transition: 2s;
}

#qnahr{
    width: 100%;
    margin: 25px 0px;
}

#qline{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#downIcon1{
    height: 20px;
}

#upIcon1{
    display: none;
    height: 12px;
    margin-right: 5px;
}

#downIcon2{
    height: 20px;
}

#upIcon2{
    display: none;
    height: 12px;
    margin-right: 5px;
}

#downIcon3{
    height: 20px;
}

#upIcon3{
    display: none;
    height: 12px;
    margin-right: 5px;
}

#downIcon4{
    height: 20px;
}

#upIcon4{
    display: none;
    height: 12px;
    margin-right: 5px;
}

#downIcon5{
    height: 20px;
}

#upIcon5{
    display: none;
    height: 12px;
    margin-right: 5px;
}

#downIcon6{
    height: 20px;
}

#upIcon6{
    display: none;
    height: 12px;
    margin-right: 5px;
}

#Qlogo:hover,
#closelogo:hover,
#downIcon1:hover,
#upIcon1:hover,
#downIcon2:hover,
#upIcon2:hover,
#downIcon3:hover,
#upIcon3:hover,
#downIcon4:hover,
#upIcon4:hover,
#downIcon5:hover,
#upIcon5:hover,
#downIcon6:hover,
#upIcon6:hover{
    cursor: pointer;
}

.contanier{
    width: 100%;
    height: auto;
    border-bottom: 2px solid black;
}
.footer{
    width: 100%;
    background-color: rgb(243, 243, 243);
}
.footer>div{
    width: 93%;
    margin: auto;
    display: block;
    padding-bottom: 10px;

}
.footer>div>div:nth-child(1){
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(52, 51, 51);
}
.footer>div>div:nth-child(2){
    width: 100%;
    margin-top: 10px;
    display: grid;
    text-align: center;
    gap: 10px;
    grid-template-columns: repeat(5,1fr);
    border-bottom: 1px solid rgb(52, 51, 51) ;
    
}

@media screen and (max-width:900px){
    .navBar {
        width: 900px;
    }
    .contanier{
        width: 900px;
    }
}