#cartContainer *{
    margin: 0%;
    padding: 0%;
}
#main{
    width: 900px;
    margin: auto;
}
#checkDiv{
    width: 100%;
    margin: auto;
    margin-top: 50px;
}
#checkDivProductH1{
    text-align: center;
    font-size: 35px;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* Button */
#checkout{
    border: none;
    border-radius: 5px;
    background-color: #0071e3;
    color: white;    
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 17px;
    width: 290px;
    height: 36px;
    display: block;
    margin: auto;
}

#checkDivEmptyProductH1{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 2px;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#checkDivEmptyProductP{
    font-size: 17px;
}

#checkDivEmptyProductButtons{
    display: flex;
    width: 600px;
}

#checkDivEmptyProductButtons > button:nth-child(1){
    border: none;
    border-radius: 10px;
    background-color: #0071e3;
    color: white;    
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 17px;
    width: 290px;
    display: block;
    margin: auto;
    padding: 15px 31px;
}

#checkDivEmptyProductButtons > button:nth-child(2){
    border: none;
    border-radius: 10px;
    background-color: #00000014;
    color: black;    
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 17px;
    width: 290px;
    display: block;
    margin: auto;
    padding: 15px 31px;
}

#hr1{
    width: 100%;
    margin: 50px 0px;
}

#cartContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#product{
    width: 100%;
    display: flex;
}

#product img{
    display:block;
    width: 200px;
}

#product > div{
    width: 100%;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 20px;
    overflow-wrap: break-word;
    display: flex;
    justify-content: space-between;
}

#title{
    width: 300px;
}

#itemCount{
    border: none;
    height: 20px;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 20px;
}

#priceremove{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#priceremove p:nth-child(2){
    align-self: flex-end;
    color: #0071e3;
    font-size: medium;
    font-weight: 400;
}

#priceremove p:nth-child(2):hover{
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width:950){
    
}