* {
    margin: 1px;
    font-family: Arial, Helvetica;
}

.navBar {
    background-color: rgb(8, 7, 7);
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding-top: 10px;
    position: sticky;
    top: 0;
}

.navBar>div {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}


.navBar>div>div:nth-child(1) {
    width: 5%;
    padding-left: 10px;
}

.navBar>div>div:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navBar>div>div:nth-child(3) {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(201, 201, 201);
}

a:hover {
    cursor: pointer;
    color: rgb(250, 250, 248);
}

.contanier {
    width: 100%;
    height: auto;
    background-color: white;
}

.macBook {
    background-color: black;
    width: 100%;
    display: block;
}

.macBook>div {
    width: 80%;
    margin: auto;
    color: white;
    text-align: center;
    height: auto;
    /* margin-top: 30px; */
}

.macMini {
    margin-top: 10px;
    background-color: black;
    width: 100%;
    display: block;
}

.macMini>div {

    width: 80%;
    margin: auto;
    color: white;
    text-align: center;
    height: auto;
    padding-top: 30px;
}
.homePod{
    margin-top: 10px;
    background-color: black;
    width: 100%;
    display: block;
}
.homePod>div {

    width: 80%;
    margin: auto;
    color: white;
    text-align: center;
    height: auto;
    padding-top: 30px;
}
.footer {
    border-bottom: 2px solid black;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(243, 243, 243);
}

.footer>div {
    width: 93%;
    margin: auto;
    display: block;
    padding-bottom: 10px;

}

.footer>div>div:nth-child(1) {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(52, 51, 51);
}

.footer>div>div:nth-child(2) {
    width: 100%;
    margin-top: 10px;
    display: grid;
    text-align: center;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid rgb(52, 51, 51);

}