*{
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
/* body{ */
    /* background-color: lightgray; */
/* } */
/* Navbar */
.navBar {
    background-color: rgb(8, 7, 7);
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding-top: 10px;
    /* position: sticky; */
    top: 0;
}

.navBar>div{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}


.navBar>div>div:nth-child(1) {
    width:5%;
    padding-left:10px;
}
.navBar>div>div:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navBar>div>div:nth-child(3) {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}
.navBar>div>div>a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(201, 201, 201);
}
.navBar>div>div>a:hover {
    cursor: pointer;
    color: rgb(250, 250, 248);
}
/* Heading */
.store-heading{
    margin-left: 20%;
    font-family: Helvetica,Arial,sans-serif;
    margin-bottom: 30px;
}
.store-heading > p{
    display: inline;
    color: gray;
    font-family: Helvetica,Arial,sans-serif;
}
/* Search bar */
#iphone-search-bar{
    width: 80%;
    height: 35px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-color: black;
    padding-left: 15px;
    font-weight: bold;
}
#price-sort{
    width: 10%;
    height: 35px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: dodgerblue;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 8px;
}
/* Search n sort */
#search-n-sort{
    /* border: 1px solid black; */
    margin-left: 20%;
}

/* Iphone Models */
#iphone-products-heading{
    margin-bottom: 20px;
}
#iphone-models{
    /* margin-left: 20%; */
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: smooth;
    gap: 1.2rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
#iphone-models::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}
#iphone-models::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 10px;
}
#iphone-models::-webkit-scrollbar-track{
    background: transparent;
}
.iphone-card{
    scroll-snap-align: start none;
    background-color: white;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 300px;
    min-height: 400px;
    text-align: left;
    padding: 10px 25px;
    border-radius: 15px;
}
.iphone-card>h3{
    height: 45px;
}
.iphone-card>img{
    width: 100%;
    /* height: 250px; */
}
.iphone-card>div{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-around;
}
.iphone-card>div>button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
}
/* Shopping Guides */
#shopping-guides-heading{
    margin-bottom: 20px;
    margin-top: 60px;
}
#shopping-guides{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 5px;
    column-gap: 10px;
}
.shop-n-save>div{
    width: 460px;
    height: 450px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: 8px;
}
.shop-n-save>div>h3{
    margin-top: 0px;
    margin-left: 15px;
}
.shop-n-save>div>p{
    color: grey;
    margin-left: 15px;
    font-size: 12px;
}
/* Way to save */
#way-to-save-heading{
    margin-bottom: 20px;
    margin-top: 60px;
}
#way-to-save{
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(2,460px);
    column-gap: 35px;
    row-gap: 1px;
}
/* Accessories */
#accessories-heading{
    margin-bottom: 20px;
    margin-top: 60px;
}
#iphone-accessories{
    /* margin-left: 20%; */
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: smooth;
    gap: 1.2rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
#iphone-accessories::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}
#iphone-accessories::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 10px;
}
#iphone-accessories::-webkit-scrollbar-track{
    background: transparent;
}
/* Footer */
.footer{
    width: 100%;
    margin-top: 50px;
    border-bottom: 2px solid black ;
    background-color: rgb(243, 243, 243);
}
.footer>div{
    width: 93%;
    margin: auto;
    display: block;
    padding-bottom: 10px;

}
.footer>div>div:nth-child(1){
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(52, 51, 51);
}
.footer>div>div:nth-child(2){
    width: 100%;
    margin-top: 10px;
    display: grid;
    text-align: center;
    gap: 10px;
    grid-template-columns: repeat(5,1fr);
    border-bottom: 1px solid rgb(52, 51, 51) ;
    
}
